.main-nav{
    background-color: rgb(75, 184, 177);
    margin: 0;
    list-style: none;
    padding-left: 0;
       
}
.main-nav li{
    display: inline-block;
}
h1{
    text-align: center;
}

.main-nav-item a {
    text-decoration:none ;
    padding: 20px 10px 20px 20px ;
    display: block;
    color:#fff;
    font-size: large;
    
}

.main-nav-item a:hover{
    background-color: #fff;
    color:chartreuse
}